body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.container {
  min-height: 100vh;
  position: relative;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  background-color: #d3d3d3;
  border-radius: 25px 25px 0 0;
  bottom: 0;
  color: #000000;
  /* display: flex; */
  height: 2.5rem;
  left: 0;
  margin: auto;
  padding: 10px 0;
  position: absolute;
  right: 0;
  width: 90%;
}

/* .footerContent {
  margin: auto;
} */

header {
}

.heading {
}

.headingTitle {
}

.logo {
}
